/BattleBitExpansionCore/obj/rider.project.model.nuget.info
/BattleBitExpansionCore/obj/rider.project.restore.info
/BattleBitExpansionCore-DemoPlugin/obj/project.assets.json
/BattleBitExpansionCore-DemoPlugin/obj/project.nuget.cache
/BattleBitExpansionCore-DemoPlugin/obj/project.packagespec.json
/BattleBitExpansionCore-DemoPlugin/obj/rider.project.model.nuget.info
/BattleBitExpansionCore-DemoPlugin/obj/rider.project.restore.info
/BattleBitExpansionCore-DemoPlugin/BattleBitExpansionCore-DemoPlugin.csproj
/BattleBitExpansionCore-DemoPlugin/obj/BattleBitExpansionCore-DemoPlugin.csproj.nuget.dgspec.json
/BattleBitExpansionCore-DemoPlugin/obj/BattleBitExpansionCore-DemoPlugin.csproj.nuget.g.props
/BattleBitExpansionCore-DemoPlugin/obj/BattleBitExpansionCore-DemoPlugin.csproj.nuget.g.targets
/BattleBitExpansionCore-DemoPlugin/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/BattleBitExpansionCore-DemoPlugin/obj/Debug/net6.0/BattleBitExpansionCore-DemoPlugin.AssemblyInfo.cs
/BattleBitExpansionCore-DemoPlugin/obj/Debug/net6.0/BattleBitExpansionCore-DemoPlugin.AssemblyInfoInputs.cache
/BattleBitExpansionCore-DemoPlugin/obj/Debug/net6.0/BattleBitExpansionCore-DemoPlugin.GeneratedMSBuildEditorConfig.editorconfig
/BattleBitExpansionCore-DemoPlugin/obj/Debug/net6.0/BattleBitExpansionCore-DemoPlugin.GlobalUsings.g.cs
/BattleBitExpansionCore-DemoPlugin/obj/Debug/net6.0/BattleBitExpansionCore-DemoPlugin.assets.cache
/BattleBitExpansionCore-DemoPlugin/obj/Debug/net6.0/BattleBitExpansionCore-DemoPlugin.csproj.AssemblyReference.cache
/BattleBitExpansionCore/bin/Debug/net6.0/BattleBitExpansionCore.dll
/BattleBitExpansionCore/bin/Debug/net6.0/BattleBitExpansionCore.pdb
/BattleBitExpansionCore/bin/Debug/net6.0/CommunityServerAPI.dll
/BattleBitExpansionCore/bin/Debug/net6.0/CommunityServerAPI.pdb
/BattleBitExpansionCore/obj/Debug/net6.0/BattleBitExpansionCore.csproj.AssemblyReference.cache
/BattleBitExpansionCore/obj/Debug/net6.0/BattleBitExpansionCore.csproj.CoreCompileInputs.cache
/BattleBitExpansionCore/obj/Debug/net6.0/BattleBitExpansionCore.dll
/BattleBitExpansionCore/obj/Debug/net6.0/BattleBitExpansionCore.pdb
/BattleBitExpansionCore/obj/Debug/net6.0/ref/BattleBitExpansionCore.dll
/BattleBitExpansionCore/obj/Debug/net6.0/refint/BattleBitExpansionCore.dll
*/obj
*/bin

.idea

/BattleBitExpansionCoreTestPlugin/bin/Debug/net6.0/BattleBitExpansionCoreTestPlugin.dll
/BattleBitExpansionCoreTestPlugin/bin/Debug/net6.0/BattleBitExpansionCoreTestPlugin.pdb
/ClassLibrary1/
ConsoleApp1CAPP1/
CybertechPerkPlugin/
/BattleBitExpansionCore-DemoPlugin/
/BattleBitExpansionCore/bin/
